@import url("https://fonts.googleapis.com/css2?family=Shippori+Mincho:wght@400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shippori+Mincho:wght@400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Hina+Mincho&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Yuji+Syuku&display=swap");
.post-name-font_shippori {
  font-family: "Shippori Mincho", serif;
  font-weight: 400;
  font-style: normal;
}

.post-name-font_hina {
  font-family: "Hina Mincho", serif;
  font-weight: 400;
  font-style: normal;
}

.post-name-font_syuku {
  font-family: "Yuji Syuku", system-ui;
  font-weight: 400;
  font-style: normal;
}

.en {
  font-family: "Times New Roman", Times, serif;
}