@charset "UTF-8";
li {
  list-style-type: none;
}

table,
tr,
td {
  border: 1px #ccc solid;
  border-collapse: collapse;
}

p {
  padding: 0;
  margin: 0;
}

.wrapper1280 {
  position: relative;
  width: 1280px;
  margin: 0 auto;
  max-width: calc(100% - 40px);
}

ul {
  padding: 0;
  margin: 0;
}

.land-nofound {
  width: 100%;
  text-align: center;
  padding: 80px 0;
}

.itemSelect {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

@media screen and (max-width: 425px) {
  .itemSelect {
    width: 100%;
    align-items: flex-start;
    flex-direction: column;
    gap: 5px;
  }
}

.itemSelect > label {
  white-space: nowrap;
  font-size: 14px;
}

.custom-select {
  position: relative;
  font-family: Arial, sans-serif;
}

.custom-select .select-box {
  background-color: #fff;
  padding: 10px 10px 10px 20px;
  cursor: pointer;
  position: relative;
  color: #333;
}

.custom-select .select-box:after {
  content: "▼";
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  transition: transform 0.8s ease;
}

@media screen and (max-width: 425px) {
  .custom-select .select-box {
    font-size: 12px;
    padding: 5px;
  }
}

.custom-select .options-container {
  display: none;
  position: absolute;
  background-color: white;
  border: 1px solid #555;
  width: 100%;
  max-height: 300px;
  overflow-y: auto;
  z-index: 9999;
  color: #333;
}

.custom-select .options-container .option {
  padding: 10px 20px;
  cursor: pointer;
}

.custom-select .options-container .option:hover {
  background-color: #f0f0f0;
}

.custom-select .options-container .option.active-option {
  background-color: #d3d3d3;
}

.custom-select .select-open {
  display: block;
}

.custom-select .rotate180::after {
  transform: translateY(-50%) rotate(180deg);
}

.sec-search {
  border: 1px #fff solid;
  border-radius: 0 0 4px 4px;
}

.sec-search .sec-search-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  padding: 20px 30px;
  cursor: pointer;
}

.sec-search .sec-search-header > p {
  font-size: 20px;
  font-weight: bold;
}

.sec-search .sec-search-header .icon {
  font-size: 24px;
  transition: transform 0.3s;
}

.sec-search .sec-search-content {
  padding: 0 30px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease;
}

.sec-search.accordion-active .sec-search-header {
  border-bottom: 1px #fff solid;
}

.sec-search.accordion-active .sec-search-content {
  max-height: 500px;
  padding: 20px 30px;
  overflow: visible;
}

.sec-search.accordion-active .icon {
  transform: rotate(45deg);
}

.sec-search .search-row {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  grid-template-rows: repeat(3, minmax(0, 1fr));
  column-gap: 40px;
  row-gap: 20px;
}

@media screen and (max-width: 768px) {
  .sec-search .search-row {
    grid-template-columns: repeat(1, minmax(0, 1fr));
    grid-template-rows: repeat(4, minmax(0, 1fr));
    column-gap: 40px;
    row-gap: 20px;
  }
}

@media screen and (max-width: 425px) {
  .sec-search .search-row {
    padding: 10px;
    row-gap: 0px;
  }
}

.sec-search .search-row .itemSelect {
  width: 100%;
}

@media screen and (max-width: 768px) {
  .sec-search .search-row .itemSelect {
    width: 100%;
  }
}

@media screen and (max-width: 425px) {
  .sec-search .search-row .itemSelect {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}

.sec-search .search-row .itemSelect label {
  width: 90px;
}

@media screen and (max-width: 425px) {
  .sec-search .search-row .itemSelect label {
    font-size: 14px;
  }
}

.sec-search .search-row .itemSelect .custom-select,
.sec-search .search-row .itemSelect input {
  width: calc(100% - 90px);
}

@media screen and (max-width: 768px) {
  .sec-search .search-row .itemSelect .custom-select,
  .sec-search .search-row .itemSelect input {
    width: calc(100% - 90px);
  }
}

@media screen and (max-width: 425px) {
  .sec-search .search-row .itemSelect .custom-select,
  .sec-search .search-row .itemSelect input {
    width: 100%;
  }
}

.sec-search .search-row .itemSelect input {
  outline: none;
  border-radius: 0;
  margin-bottom: 0;
  min-height: 48px;
  padding: 10px 10px 10px 20px;
}

.sec-search .search-row .sm-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  flex: 1 1 auto;
}

@media screen and (max-width: 425px) {
  .sec-search .search-row .sm-row {
    flex-direction: column;
    align-items: flex-start;
  }
}

.sec-search .search-row .sm-row label {
  width: 90px;
}

@media screen and (max-width: 425px) {
  .sec-search .search-row .sm-row label {
    font-size: 14px;
  }
}

.sec-search .search-row .sm-row .price-range-row {
  width: calc(100% - 90px);
  display: flex;
  flex-direction: row;
  gap: 20px;
}

@media screen and (max-width: 425px) {
  .sec-search .search-row .sm-row .price-range-row {
    width: 100%;
  }
}

.sec-search .search-row .sm-row .price-range-row .itemSelect {
  width: 100%;
}

.sec-search .search-row .sm-row .price-range-row .itemSelect .custom-select {
  width: 100%;
}

.sec-search .search-row .sm-row .price-range-row span {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  font-weight: bold;
}

.btn-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 30px;
}

@media screen and (max-width: 425px) {
  .btn-wrapper {
    flex-direction: column;
    gap: 10px;
    margin: 20px 0;
  }
}

.btn-wrapper button {
  width: 300px;
  padding: 15px 20px;
  border-radius: 50px;
  cursor: pointer;
  border: none;
  box-shadow: 0px 0px 10px #555;
}

.btn-wrapper button.btn-search {
  background-color: #65ad2f;
  color: #fff;
}

.searchNum {
  position: relative;
  margin: 20px;
}

.searchNum::before {
  position: absolute;
  content: "";
  top: -25px;
  left: 0;
  right: 0;
  margin: auto;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 20px 20px 0 20px;
  border-color: #fff transparent transparent transparent;
}

.searchNum .txtNum {
  font-size: 16px;
  margin-right: 2px;
  text-align: center;
  padding: 15px 0;
}

.searchNum .txtNum .num {
  font-size: 38px;
  font-weight: bold;
  color: #a6f569;
}

.perpagesortsec {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 30px;
  margin: 20px 0;
  padding: 20px 0;
}

@media screen and (max-width: 425px) {
  .perpagesortsec {
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
  }
}

.perpagesortsec .custom-select {
  width: 170px;
}

@media screen and (max-width: 425px) {
  .perpagesortsec .custom-select {
    width: 100%;
  }
}

.perpagesortsec label {
  width: 90px;
}

@media screen and (max-width: 425px) {
  .perpagesortsec label {
    font-size: 14px;
  }
}

.land-archive {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.land-row {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  box-shadow: 1px 1px 5px #ddd;
  border-radius: 5px;
  flex: 1 1 auto;
  height: auto;
}

.land-row:hover {
  scale: 1.02;
  transition: all 0.5s;
}

@media screen and (max-width: 768px) {
  .land-row {
    flex-direction: column;
  }
}

.land-thumbnail {
  width: 46%;
}

.land-thumbnail img {
  height: 100%;
  object-fit: contain;
  margin: auto;
  border-radius: 5px;
}

@media screen and (max-width: 1024px) {
  .land-thumbnail {
    padding-left: 10px;
  }
}

@media screen and (max-width: 768px) {
  .land-thumbnail {
    width: 100%;
    padding: 0;
  }
  .land-thumbnail img {
    width: 100%;
  }
}

.land-item-info {
  width: 54%;
  padding: 20px 35px 20px 50px;
}

@media screen and (max-width: 1024px) {
  .land-item-info {
    padding: 20px 35px 20px 30px;
  }
}

@media screen and (max-width: 768px) {
  .land-item-info {
    width: 100%;
    padding: 40px;
  }
}

@media screen and (max-width: 425px) {
  .land-item-info {
    padding: 20px;
  }
}

ul.tag-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 10px;
}

ul.tag-list li {
  font-size: 11px;
  border: 1px #fff solid;
  border-radius: 20px;
  padding: 4px 8px;
}

h2.land-title {
  font-size: 25px;
  margin: 10px 0;
}

@media screen and (max-width: 425px) {
  h2.land-title {
    font-size: 20px;
    margin: 20px 0;
  }
}

.land-address {
  font-size: 15px;
  margin: 0;
}

.land-pricearea {
  font-size: 13px;
}

@media screen and (max-width: 425px) {
  .land-pricearea {
    margin: 10px 0;
  }
}

.land-pricearea span {
  font-size: 32px;
  font-weight: bold;
  color: #a6f569;
}

@media screen and (max-width: 425px) {
  .land-pricearea span {
    font-size: 20px;
  }
}

.land-pricearea span.max-price {
  position: relative;
  margin-left: 20px;
}

.land-pricearea span.max-price::before {
  content: "～";
  position: absolute;
  margin: auto;
  color: #fff;
  top: 0;
  bottom: 0;
  left: -20px;
  font-size: 13px;
  font-weight: normal;
  display: flex;
  align-items: center;
}

.land-subtitle {
  font-size: 14px;
  margin-bottom: 10px;
}

.table-pc {
  text-align: center;
}

.table-pc tr:first-child {
  background-color: #555;
}

.table-pc tr td:first-child,
.table-pc tr td:nth-child(2) {
  width: calc(100% / 4);
}

.table-sp {
  display: none;
}

@media screen and (max-width: 425px) {
  .table-pc {
    display: none;
  }
  .table-sp {
    display: table;
  }
  .table-sp tr td:first-child {
    background-color: #555;
    width: calc(100% / 2.5);
  }
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2%;
}

.page-numbers,
.page-number {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px #fff solid;
}

@media screen and (max-width: 425px) {
  .page-numbers,
  .page-number {
    font-size: 12px;
    width: 30px;
    height: 30px;
  }
}

.page-number.active {
  background-color: #555;
}

.land-detail-main {
  padding-bottom: 60px;
}

.land-title-sec {
  background: linear-gradient(to right, #757575, #757575 1px, transparent 1px, transparent 4px) left bottom/4px 1px repeat-x;
  margin-bottom: 20px;
  padding-bottom: 15px;
  display: flex;
  align-items: center;
  margin-top: 15px;
  gap: 15px;
}

.land-title-sec .land-subtitle {
  margin: 0;
}

@media screen and (max-width: 768px) {
  .land-title-sec {
    display: block;
  }
}

.land-preview {
  margin: 40px 0;
}

.land-preview img {
  width: 100%;
  object-fit: cover;
}

/* swiper start */
/* Main Swiper styles */
.swiper.main-swiper {
  width: 100%;
}

.swiper.main-swiper .swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #555;
  cursor: grab;
}

.swiper.thumbs-swiper {
  width: 60%;
  height: 100px;
  margin: auto;
  margin-top: 20px;
}

.swiper.thumbs-swiper .swiper-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.swiper.thumbs-swiper .swiper-slide {
  height: 100px;
  opacity: 0.4;
  transition: opacity 0.3s;
  cursor: pointer;
}

.swiper.thumbs-swiper .swiper-slide.swiper-slide-thumb-active {
  opacity: 1;
}

/* swiper end */
.land-detail-price {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  margin: 30px 0;
}

.land-detail-price .price-subTxt {
  width: 100%;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 12px;
  padding-bottom: 12px;
  background: linear-gradient(to right, #757575, #757575 1px, transparent 1px, transparent 4px) left bottom/4px 1px repeat-x;
}

.land-detail-price .price {
  display: inline-block;
  color: #a6f569;
  font-size: 60px;
  font-weight: bold;
}

@media screen and (max-width: 768px) {
  .land-detail-price .price {
    font-size: 40px;
  }
}

.land-detail-price .price:nth-child(3) {
  position: relative;
  margin-left: 50px;
}

.land-detail-price .price:nth-child(3)::before {
  position: absolute;
  content: "~";
  margin: auto;
  color: #fff;
  top: 0;
  bottom: 0;
  left: -40px;
  font-size: 45px;
  font-weight: normal;
  display: flex;
  align-items: center;
}

.land-detail-price .priceTxt {
  display: inline-block;
  font-size: 16px;
  margin: 20px 5px;
}

@media screen and (max-width: 425px) {
  .land-detail-price .priceTxt {
    margin: 10px 5px;
  }
}

.land-detail-table {
  margin-top: 35px;
}

.land-detail-table tr {
  font-size: 15px;
}

.land-detail-table tr th {
  background-color: #555;
  min-width: 80px;
}

.land-detail-table tr td {
  padding: 20px 15px;
}

.secDetailsContents {
  background-color: #1a333d;
  position: relative;
}

.secDetailsContents ul.pageLinkList {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1.25%;
  padding: 60px 0 20px;
  background-color: #1a333d;
  position: sticky;
  top: 0;
  right: 0;
  z-index: 1000000;
}

@media screen and (max-width: 768px) {
  .secDetailsContents ul.pageLinkList {
    gap: 2.5%;
  }
}

.secDetailsContents ul.pageLinkList li {
  background-color: #fff;
  text-align: center;
  width: 200px;
  padding: 20px 20px;
  border-radius: 5px;
  box-shadow: 1px 1px 5px #ccc;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .secDetailsContents ul.pageLinkList li {
    margin: 1.25% 0;
    width: 150px;
  }
}

.secDetailsContents ul.pageLinkList li p {
  color: #1a333d;
}

.secDetailsContents ul.pageLinkList li p:first-child {
  font-size: 14px;
  font-weight: 900;
  letter-spacing: 0;
}

@media screen and (max-width: 768px) {
  .secDetailsContents ul.pageLinkList li p:first-child {
    font-size: 10px;
  }
}

.secDetailsContents ul.pageLinkList li p:last-child {
  font-size: 20px;
}

@media screen and (max-width: 768px) {
  .secDetailsContents ul.pageLinkList li p:last-child {
    font-size: 14px;
  }
}

.secDetailsContents .contentsTit {
  text-align: center;
  margin-bottom: 30px;
}

.secDetailsContents .enTit {
  font-size: 16px;
  font-weight: 900;
  letter-spacing: 0;
}

.secDetailsContents .jpTit {
  font-size: 28px;
}

.secDetailsContents .land-section {
  padding: 60px 0;
}

.secDetailsContents .sec-plan .mainImgBox {
  background-color: #fff;
  padding: 50px 0;
}

.secDetailsContents .sec-plan .mainImgBox > div {
  width: 60%;
  margin: auto;
}

.secDetailsContents .sec-plan .table-group {
  display: flex;
  flex-wrap: wrap;
  margin-top: 24px;
  border-top: 1px #fff solid;
}

@media screen and (max-width: 768px) {
  .secDetailsContents .sec-plan .table-group {
    display: block;
    border-left: 1px #fff solid;
    border-right: 1px #fff solid;
  }
}

.secDetailsContents .sec-plan .table-group .table-item {
  width: 50%;
  text-align: center;
  border: 1px #fff solid;
  border-top: 0;
}

.secDetailsContents .sec-plan .table-group .table-item:not(:last-child):nth-child(odd) {
  border-right: 0;
}

.secDetailsContents .sec-plan .table-group .table-item:not(:first-child):not(:nth-child(2)) .th-row {
  display: none;
}

@media screen and (max-width: 768px) {
  .secDetailsContents .sec-plan .table-group .table-item {
    width: 100%;
    border: 0;
  }
  .secDetailsContents .sec-plan .table-group .table-item:not(:first-child) .th-row {
    display: none;
  }
}

.secDetailsContents .sec-plan .table-group .table-item .th-row {
  display: flex;
  align-items: center;
  border-bottom: 1px #fff solid;
}

.secDetailsContents .sec-plan .table-group .table-item .th-row > p {
  background-color: #555;
  font-size: 18px;
  width: 100%;
  height: 100%;
  padding: 14px 10px;
}

@media screen and (max-width: 425px) {
  .secDetailsContents .sec-plan .table-group .table-item .th-row > p {
    font-size: 14px;
  }
}

.secDetailsContents .sec-plan .table-group .table-item .th-row > p:first-child {
  width: 20%;
}

.secDetailsContents .sec-plan .table-group .table-item .th-row > p:nth-child(2) {
  width: 50%;
  border-left: 1px #fff solid;
  border-right: 1px #fff solid;
}

@media screen and (max-width: 425px) {
  .secDetailsContents .sec-plan .table-group .table-item .th-row > p:nth-child(2) {
    width: 40%;
  }
}

.secDetailsContents .sec-plan .table-group .table-item .th-row > p:last-child {
  width: 30%;
}

@media screen and (max-width: 425px) {
  .secDetailsContents .sec-plan .table-group .table-item .th-row > p:last-child {
    width: 40%;
  }
}

.secDetailsContents .sec-plan .table-group .table-item .td-row {
  display: flex;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .secDetailsContents .sec-plan .table-group .table-item .td-row {
    border-bottom: 1px #fff solid;
  }
}

.secDetailsContents .sec-plan .table-group .table-item .td-row > p {
  font-size: 20px;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px 10px;
}

@media screen and (max-width: 425px) {
  .secDetailsContents .sec-plan .table-group .table-item .td-row > p {
    font-size: 16px;
  }
}

.secDetailsContents .sec-plan .table-group .table-item .td-row > p:first-child {
  width: 20%;
}

.secDetailsContents .sec-plan .table-group .table-item .td-row > p:nth-child(2) {
  width: 50%;
  border-left: 1px #fff solid;
  border-right: 1px #fff solid;
}

@media screen and (max-width: 425px) {
  .secDetailsContents .sec-plan .table-group .table-item .td-row > p:nth-child(2) {
    width: 40%;
  }
}

.secDetailsContents .sec-plan .table-group .table-item .td-row > p:last-child {
  width: 30%;
}

@media screen and (max-width: 425px) {
  .secDetailsContents .sec-plan .table-group .table-item .td-row > p:last-child {
    width: 40%;
  }
}

.secDetailsContents .sec-plan .table-group .table-item .td-row > p:last-child > span:first-child {
  font-size: 34px;
  font-weight: bold;
  color: #a6f569;
}

@media screen and (max-width: 425px) {
  .secDetailsContents .sec-plan .table-group .table-item .td-row > p:last-child > span:first-child {
    font-size: 24px;
  }
}

.secDetailsContents .sec-plan .table-group .table-item .td-row > p:last-child > span:last-child {
  font-size: 18px;
}

@media screen and (max-width: 425px) {
  .secDetailsContents .sec-plan .table-group .table-item .td-row > p:last-child > span:last-child {
    font-size: 14px;
  }
}

.secDetailsContents .sec-location .loclist {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 3%;
}

@media screen and (max-width: 425px) {
  .secDetailsContents .sec-location .loclist {
    flex-direction: column;
  }
}

.secDetailsContents .sec-location .loclist li {
  margin: 1.5% 0;
}

.secDetailsContents .sec-location .loclist li.lg-card {
  width: calc((100% - 3%) / 2);
}

@media screen and (max-width: 768px) {
  .secDetailsContents .sec-location .loclist li.lg-card {
    width: 100%;
  }
}

.secDetailsContents .sec-location .loclist li.lg-card img {
  width: 100%;
  object-fit: cover;
}

.secDetailsContents .sec-location .loclist li.lg-card > div {
  padding-top: 15px;
}

.secDetailsContents .sec-location .loclist li.lg-card > div > h5 {
  font-size: 18px;
}

.secDetailsContents .sec-location .loclist li.lg-card > div > p {
  font-size: 15px;
}

.secDetailsContents .sec-location .loclist li.sm-card {
  width: calc((100% - 9%) / 4);
  border: 1px #555 solid;
}

@media screen and (max-width: 768px) {
  .secDetailsContents .sec-location .loclist li.sm-card {
    width: calc((100% - 3%) / 2);
  }
}

@media screen and (max-width: 425px) {
  .secDetailsContents .sec-location .loclist li.sm-card {
    width: 100%;
  }
}

.secDetailsContents .sec-location .loclist li.sm-card > div {
  padding: 10px 15px;
}

.secDetailsContents .sec-location .loclist li.sm-card > div > h5 {
  font-size: 15px;
  padding-bottom: 10px;
  border-bottom: 1px #555 solid;
}

.secDetailsContents .sec-location .loclist li.sm-card > div > p {
  font-size: 14px;
}

.secDetailsContents .sec-location .loclist.noImg {
  margin-top: 50px;
}

@media screen and (max-width: 768px) {
  .secDetailsContents .sec-location .loclist.noImg {
    margin-top: 20px;
  }
}

.secDetailsContents .sec-location .loclist.noImg > li {
  border: 1px #555 solid;
  width: calc((100% - 9%) / 4);
  border-radius: 4px 4px 0 0;
}

@media screen and (max-width: 768px) {
  .secDetailsContents .sec-location .loclist.noImg > li {
    width: calc((100% - 3%) / 2);
  }
}

@media screen and (max-width: 425px) {
  .secDetailsContents .sec-location .loclist.noImg > li {
    width: 100%;
  }
}

.secDetailsContents .sec-location .loclist.noImg > li > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  padding: 15px;
  background-color: #555;
  height: 74px;
}

.secDetailsContents .sec-location .loclist.noImg > li > div p {
  font-size: 14px;
  font-weight: bold;
}

.secDetailsContents .sec-location .loclist.noImg > li > div img {
  width: 40px;
  object-fit: cover;
}

@media screen and (max-width: 425px) {
  .secDetailsContents .sec-location .loclist.noImg > li > div img {
    width: 26px;
  }
}

.secDetailsContents .sec-location .loclist.noImg > li > p {
  padding: 15px;
  font-size: 14px;
}

.secDetailsContents .sec-access .mapBox {
  margin-top: 50px;
}

.secDetailsContents .sec-access .mapBox iframe {
  width: 100%;
  height: 600px;
}

.secDetailsContents .sec-overview {
  display: inline-block;
}

.secDetailsContents .sec-overview .tablelist {
  display: flex;
  flex-wrap: wrap;
}

.secDetailsContents .sec-overview .tablelist .table-item {
  width: 50%;
  display: flex;
  align-items: center;
  border: 1px #fff solid;
}

.secDetailsContents .sec-overview .tablelist .table-item:not(:last-child):nth-child(odd) {
  border-right: none;
}

.secDetailsContents .sec-overview .tablelist .table-item:not(:last-child):not(:nth-child(20)) {
  border-bottom: none;
}

@media screen and (max-width: 768px) {
  .secDetailsContents .sec-overview .tablelist .table-item {
    width: 100%;
  }
  .secDetailsContents .sec-overview .tablelist .table-item:not(:last-child):nth-child(odd) {
    border-right: 1px #fff solid;
  }
  .secDetailsContents .sec-overview .tablelist .table-item:not(:last-child) {
    border-bottom: none;
  }
}

.secDetailsContents .sec-overview .tablelist .table-item h5 {
  margin: 0;
  padding: 10px;
  font-size: 12px;
  width: 100px;
  height: 100%;
  text-align: center;
  background-color: #555;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (min-width: 425px) {
  .secDetailsContents .sec-overview .tablelist .table-item h5 {
    width: 150px;
    font-size: 15px;
  }
}

.secDetailsContents .sec-overview .tablelist .table-item p {
  font-size: 12px;
  width: calc(100% - 100px);
  padding: 20px 15px;
  height: 100%;
  border-left: 1px #fff solid;
  display: flex;
  align-items: center;
}

@media screen and (min-width: 425px) {
  .secDetailsContents .sec-overview .tablelist .table-item p {
    font-size: 15px;
    width: calc(100% - 150px);
  }
}

.form-title {
  text-align: center;
}

.form-title h3 {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 10px;
}

.form-title p {
  font-size: 16px;
}

.form-wrap {
  background-color: #fff;
  color: #152227;
  margin-top: 100px;
}

@media (min-width: 768px) {
  .form-wrap {
    margin-inline: auto;
    padding: 50px 30px;
  }
}

@media (min-width: 1200px) {
  .form-wrap {
    padding: 80px 50px 0;
  }
}

.form-box {
  padding: 60px 20px;
}

.status {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
  gap: 75px;
  position: relative;
  margin-bottom: 80px !important;
  width: 300px;
  margin: auto;
}

.status::before {
  position: absolute;
  content: "";
  top: 31px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: 1px;
  background: #152227;
}

.status li {
  font-size: 20px;
  font-weight: 500;
  color: #cfcfcf;
}

.status .num {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  line-height: 1;
  color: #fff;
  z-index: 3;
  aspect-ratio: 1/1;
  margin-bottom: 24px;
}

.status li .num::before {
  position: absolute;
  content: "";
  z-index: -1;
  width: 40px;
  height: 40px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
  background: #cfcfcf;
}

.status li .num::after {
  position: absolute;
  content: "";
  z-index: -2;
  width: 50px;
  height: 50px;
  background: #fff;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
  border: 1px solid #cfcfcf;
}

@media screen and (max-width: 767px) {
  .status li {
    font-size: 16px;
  }
  .status::before {
    top: 26px;
  }
  .status li .num::before {
    width: 30px;
    height: 30px;
  }
  .status li .num::after {
    width: 40px;
    height: 40px;
  }
}

.mw_wp_form_input .status li:nth-of-type(1),
.mw_wp_form_confirm .status li:nth-of-type(2),
.mw_wp_form_complete .status li:nth-of-type(3) {
  color: #152227;
}

.mw_wp_form_input .status li:nth-of-type(1) .num::before,
.mw_wp_form_confirm .status li:nth-of-type(2) .num::before,
.mw_wp_form_complete .status li:nth-of-type(3) .num::before {
  background: #152227;
}

.mw_wp_form_input .status li:nth-of-type(1) .num::after,
.mw_wp_form_confirm .status li:nth-of-type(2) .num::after,
.mw_wp_form_complete .status li:nth-of-type(3) .num::after {
  border: 1px solid #152227;
}

dl {
  margin: 0;
}

.form-row {
  display: grid;
}

@media screen and (min-width: 768px) {
  .form-row {
    grid-template-columns: 25% 1fr;
    gap: 15px;
  }
}

.form-row dt {
  font-weight: 700;
  margin-bottom: 0;
}

.form-row dt label {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  width: 100%;
  margin-top: 30px;
  transform: translateY(-50%);
  color: #1a333d;
}

.form-row.--aifs dt label {
  align-items: flex-start;
}

.form-row dt .require {
  font-size: 14px;
  font-weight: 500;
  color: #fff;
  background: #be0000;
  padding: 3px;
}

.form-row dd {
  min-height: 60px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

@media screen and (max-width: 767px) {
  .form-row dd {
    min-height: 40px;
  }
}

.form-box .note {
  color: #be0000;
}

.mw_wp_form_confirm .form-row .note,
.mw_wp_form_complete .form-row .note {
  display: none;
}

input[type="submit"].mwSubmit,
input[type="submit"].mwReturn {
  display: inline-block;
  padding: 20px 60px;
  background: #152227;
  color: #fff;
  border: 1px solid #152227;
  border-radius: 50px;
  cursor: pointer;
  transition: 0.3s;
}

@media screen and (max-width: 767px) {
  input[type="submit"].mwSubmit,
  input[type="submit"].mwReturn {
    padding: 15px 45px;
  }
}

.mwSubmit:hover,
.mwReturn:hover {
  background: #fff;
  color: #152227;
}

input[type="date"]::placeholder,
input[type="email"]::placeholder,
input[type="tel"]::placeholder,
input[type="text"]::placeholder,
input[type="url"]::placeholder,
select::placeholder,
textarea::placeholder {
  color: #acacac;
  font-family: inherit;
}

input[type="date"],
input[type="email"],
input[type="tel"],
input[type="text"],
input[type="url"],
select,
textarea {
  font-family: inherit;
  min-height: 60px;
}

@media screen and (max-width: 767px) {
  input[type="date"],
  input[type="email"],
  input[type="tel"],
  input[type="text"],
  input[type="url"],
  select,
  textarea {
    min-height: 40px;
  }
}

@media screen and (max-width: 767px) {
  .mwform-tel-field input[type="text"] {
    width: 60px;
  }
}

.submit-btn {
  margin-top: 60px;
}

.return-btn {
  margin-top: 20px;
}

.ui-widget.ui-widget-content {
  z-index: 10 !important;
}

.mw_wp_form .error {
  width: 100%;
}

.form-row.--place dd {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}

.form-row dd.--vertical {
  display: block;
}

.mw_wp_form_confirm .form-row dd.--vertical {
  display: flex;
}

@media screen and (max-width: 767px) {
  .form-row.--place dd {
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 991px) {
  .form-row.--custom {
    gap: 0;
    grid-template-columns: 1fr;
  }
}

.form-row.--custom dd:first-child {
  margin-right: 10px;
}

@media screen and (min-width: 992px) {
  .form-row.--custom .note {
    padding-left: 15px;
  }
}

.form-row.--place dd span.horizontal-item {
  margin-left: 0;
}

.dd-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.zip-wrapper .dd-flex {
  justify-content: flex-start;
  gap: 10px;
}

.zip-wrapper .dd-flex dd:first-child {
  flex-basis: 150px;
}

.zip-wrapper .zipSubmit {
  display: inline-block;
  width: 120px;
  line-height: 40px;
  background: #444444;
  text-decoration: none;
  text-align: center;
  border-radius: 50px;
  margin-left: 10px;
  color: #fff;
  font-size: 12px;
  letter-spacing: 1px;
  cursor: pointer;
  border: none;
}

.zip-wrapper .zip-error {
  color: red;
  text-align: left;
}

.advice-box {
  background-color: #f5f5f5;
  padding: 30px;
}

.advice-box p:first-child {
  font-size: 15px;
}

.advice-box p:nth-child(2) {
  font-size: 14px;
  padding-top: 8px;
}

.advice-box p:nth-child(2) .color {
  color: #cd2929;
}
