@import url("https://fonts.googleapis.com/css2?family=Shippori+Mincho:wght@400;500;600;700;800&display=swap");
#loading {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 999;
  width: 100%;
  height: 100%;
  background: url(../img/common/bg_main.webp);
}

@media only screen and (min-width: 544px) {
  #loading {
    background-size: auto;
  }
}
#loading.loading_fadeOut {
  transition: 2s cubic-bezier(0.43, 0.05, 0.17, 1);
  pointer-events: none;
  opacity: 0;
  z-index: -1;
}
@media (max-width: 767px) {
  #loading.loading_fadeOut {
    transition: 2s cubic-bezier(0.43, 0.05, 0.17, 1);
  }
}

#loading-bar {
  height: 2px;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  background-color: #fff;
  transform-origin: left;
  animation: loading-bar-anime 3s ease-out forwards;
  scale: 0 100%;
}

@keyframes loading-bar-anime {
  0% {
    scale: 0 100%;
  }
  30% {
    scale: 30% 100%;
  }
  80% {
    scale: 80% 100%;
  }
  100% {
    scale: 100% 100%;
  }
}
#loading-bar.loading__finish {
  display: none;
}

#loading_box {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 3rem;
  transform: translate(-50%, -50%) scale(1, 1);
  z-index: 9999;
  pointer-events: none;
  transition: 1s cubic-bezier(0.43, 0.05, 0.17, 1);
}
@media (max-width: 767px) {
  #loading_box {
    width: 10rem;
  }
}

#loading_box #loading_logo {
  animation: loading-logo-appear 10s forwards linear;
}

@keyframes loading-logo-appear {
  0% {
    scale: 1 1;
    opacity: 0;
    filter: blur(5px);
  }
  15% {
    opacity: 1;
    filter: blur(0px);
  }
  100% {
    scale: 1.4 1.4;
  }
}
@media only screen and (min-width: 544px) {
  #loading_box {
    width: 12rem;
  }
}
#loading_box.loading_logo__scale {
  filter: blur(5px);
  opacity: 0;
  transition: 1s cubic-bezier(0.43, 0.05, 0.17, 1);
}

.loader__cursor {
  -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1) 0s;
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1) 0s;
  -webkit-transition-property: top, left, width, height;
  transition-property: top, left, width, height;
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  border-radius: 50%;
  width: 14px;
  height: 14px;
  background: 0 0;
  -webkit-box-shadow: 0px 1px 0px #000;
  box-shadow: 0px 1px 0px #000;
  background: 0 0;
  -webkit-animation: mymove 0.55s ease-in-out infinite;
  animation: mymove 0.55s ease-in-out infinite;
  display: none;
  z-index: 3;
}

@media only screen and (min-width: 544px) {
  .loader__cursor {
    display: block;
  }
}
@-webkit-keyframes mymove {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(-360deg);
    transform: rotate(-360deg);
  }
}
@keyframes mymove {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(-360deg);
    transform: rotate(-360deg);
  }
}
@keyframes dash {
  0% {
    stroke-dashoffset: 100;
  }
  50% {
    stroke-dashoffset: 40;
    transform: rotate(125deg);
  }
  100% {
    stroke-dashoffset: 100;
    transform: rotate(366deg);
  }
}
#loading_stoker {
  position: fixed;
  z-index: 100;
  pointer-events: none;
  opacity: 0;
}

.header {
  opacity: 0;
  filter: blur(8px);
}

.header_pc__fadeIn {
  opacity: 1 !important;
  -webkit-transition: 2s cubic-bezier(0.19, 1, 0.22, 1) 0.3s !important;
  transition: 2s cubic-bezier(0.19, 1, 0.22, 1) 0.3s !important;
  filter: none !important;
}

.bg_fixed {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-position: center;
  background-size: cover;
}
.bg_fixed video {
  width: 100%;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.fv_wrap .slick-dots {
  bottom: 30px;
}
@media (max-width: 767px) {
  .fv_wrap .slick-dots {
    bottom: 10px;
  }
}
.fv_wrap .slick-dots li {
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 0.3125rem;
  height: 1px;
  overflow: hidden;
  position: relative;
  width: 15%;
}
.fv_wrap .slick-dots li button {
  width: 200%;
  height: 100%;
  left: -100%;
  position: absolute;
  top: 0;
  width: 200%;
  padding: 0;
}
.fv_wrap .slick-active button {
  animation: bullet 4.6s linear;
  background-color: #fff;
}

@keyframes bullet {
  0% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0);
  }
}
#about1 {
  margin-top: -100vh;
}

#about2 {
  background: url(../img/top/aboutbg2.webp) center center/cover no-repeat;
}
@media (max-width: 767px) {
  #about2 {
    height: auto;
    padding-top: 60px;
  }
}
#about2::before {
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  background: rgba(0, 0, 0, 0.5);
}
#about2 .about_text_wrap {
  width: 80%;
  justify-content: space-between;
}
@media (max-width: 767px) {
  #about2 .about_text_wrap {
    width: 100%;
  }
}
#about2 .gc_gallery-wrap {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 10px 30px;
}
@media (max-width: 767px) {
  #about2 .gc_gallery-wrap {
    flex-direction: column;
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
  }
}
#about2 .gc_gallery-item {
  width: 30%;
  margin-bottom: 24px;
  position: relative;
}
@media (max-width: 767px) {
  #about2 .gc_gallery-item {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
}
#about2 .gc_gallery-item:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  opacity: 0;
  transition: 0.5s ease;
}
#about2 .gc_gallery-item:hover:before {
  opacity: 1;
}
#about2 .gc_gallery-item:hover .gc_post-title {
  opacity: 1;
}
#about2 .gc_gallery-item img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}
@media (max-width: 767px) {
  #about2 .gc_gallery-item img {
    width: 100%;
    height: 100%;
  }
}
#about2 .gc_gallery-item a {
  display: inline-block;
  height: 100%;
  width: 100%;
}
#about2 .gc_gallery-item a:hover {
  opacity: 1;
}
#about2 .gc_post-title {
  position: absolute;
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 1rem;
  -ms-writing-mode: tb-rl;
  writing-mode: vertical-rl;
  text-align: center;
  opacity: 0;
}
@media (max-width: 767px) {
  #about2 .gc_post-title {
    padding: 0.5rem;
    font-size: 14px;
    line-height: 1.2;
    height: 27.02933vw;
  }
}

#about3 {
  background: url(../img/top/aboutbg4.webp) center center/cover no-repeat;
}
@media (max-width: 767px) {
  #about3 {
    padding-top: 5rem;
  }
}
#about3::before {
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  background: rgba(0, 0, 0, 0.5);
}
#about3 .about_text_wrap {
  width: 80%;
  justify-content: space-between;
}
@media (max-width: 767px) {
  #about3 .about_text_wrap {
    width: 100%;
  }
}
#about3 .top_event_wrap {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 0 30px;
}
@media (max-width: 767px) {
  #about3 .top_event_wrap {
    grid-template-columns: 1fr;
  }
}
#about3 .top_event_item {
  width: 100%;
  margin-bottom: 24px;
  position: relative;
  background-color: #000;
}
@media (max-width: 767px) {
  #about3 .top_event_item {
    width: 80%;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media (max-width: 767px) {
  #about3 .top_event_item:last-child {
    display: none;
  }
}
#about3 .top_event_title {
  line-height: 1.4;
  background: #000;
  padding: 1rem;
  flex-grow: 1;
}
@media (max-width: 767px) {
  #about3 .top_event_title {
    font-size: 14px;
    line-height: 1.5;
    padding: 1.5rem;
  }
}

.about {
  height: 100vh;
  position: relative;
}
@media (max-width: 767px) {
  .about {
    height: auto;
  }
}
.about .about_wrap {
  align-items: center;
  justify-content: space-between;
  height: 100%;
  width: 80%;
  margin: 0 auto;
}
@media (max-width: 1199px) {
  .about .about_wrap {
    width: 100%;
  }
}
.about .about_wrap_box {
  flex-direction: row-reverse;
  width: 100%;
  justify-content: space-between;
}
@media (max-width: 767px) {
  .about .about_wrap_box {
    display: block;
  }
}
.about .about_title1 {
  -ms-writing-mode: tb-rl;
  writing-mode: vertical-rl;
  font-size: 40px;
  opacity: 0;
  position: relative;
}
@media (max-width: 767px) {
  .about .about_title1 {
    font-size: 24px;
    margin: 0 auto;
    -ms-writing-mode: inherit;
    writing-mode: inherit;
    text-align: center;
    opacity: 1;
  }
}
.about .about_title1 .small {
  display: block;
  font-size: 16px;
}
@media (max-width: 767px) {
  .about .about_title1 .small {
    font-size: 12px;
  }
}
.about .about_text_wrap {
  flex-direction: row-reverse;
  align-items: flex-start;
  opacity: 0;
}
@media (max-width: 767px) {
  .about .about_text_wrap {
    padding-top: 20px;
    justify-content: space-between;
    opacity: 1;
  }
}
.about .about_text_top {
  margin-bottom: 60px;
  position: relative;
}
@media (max-width: 767px) {
  .about .about_text_top {
    margin-bottom: 30px;
    text-align: center;
  }
}
.about .about_title2 {
  position: relative;
  -ms-writing-mode: tb-rl;
  writing-mode: vertical-rl;
  font-size: 30px;
  margin-left: 30px;
}
@media (max-width: 767px) {
  .about .about_title2 {
    font-size: 20px;
    margin-left: 0;
  }
}
.about .about_text {
  -ms-writing-mode: tb-rl;
  writing-mode: vertical-rl;
  margin-left: 40px;
  line-height: 2.8;
}
@media (max-width: 767px) {
  .about .about_text {
    margin-left: 0;
    line-height: 1.7;
    white-space: nowrap;
  }
}
.about .about_btn {
  text-decoration: none;
  border: 1px solid #fff;
  padding: 1rem 6rem;
  margin: 30px 0 0;
  display: table;
  position: relative;
}
@media (max-width: 767px) {
  .about .about_btn {
    padding: 0.5rem 1rem;
    margin: 20px auto 50px auto;
  }
}

.aesthetics {
  padding: 17% 0 0;
  height: auto;
  background: url(../img/common/bg_main.jpg);
  position: relative;
}
@media (max-width: 767px) {
  .aesthetics {
    height: auto;
  }
}
.aesthetics .text_wrap {
  padding-left: 40px;
  width: 83%;
  margin: 0 auto;
  padding-bottom: 120px;
  position: relative;
}
@media (max-width: 767px) {
  .aesthetics .text_wrap {
    width: 100%;
    padding-left: 0;
    padding-top: 54px;
  }
}
.aesthetics .aesthetics_title {
  -ms-writing-mode: tb-rl;
  writing-mode: vertical-rl;
  font-size: 32px;
  margin-right: 100px;
  letter-spacing: 0.3em;
}
@media (max-width: 767px) {
  .aesthetics .aesthetics_title {
    font-size: 24px;
    margin-right: 30px;
  }
}

.aesthetics_text {
  margin-top: 20px;
}
.aesthetics_text small {
  font-size: 14px;
}
@media (max-width: 767px) {
  .aesthetics_text small {
    font-size: 12px;
  }
}

.bg_cover {
  padding-top: 60px;
  background: linear-gradient(rgb(19, 31, 36) 0%, rgba(19, 31, 36, 0.0001) 30%), linear-gradient(rgba(19, 31, 36, 0.0001) 0%, rgba(19, 31, 36, 0.975) 95%, rgb(19, 31, 36) 100%);
  padding-bottom: 180px;
  position: relative;
}
.bg_cover .aesthetics_img1_wrap {
  width: 70%;
}
@media (max-width: 767px) {
  .bg_cover .aesthetics_img1_wrap {
    width: 90%;
  }
}
.bg_cover .aesthetics_img2 {
  padding-top: 180px;
  width: 48%;
  margin: 0 0 0 auto;
}
@media (max-width: 767px) {
  .bg_cover .aesthetics_img2 {
    width: 60%;
  }
}
.bg_cover .aesthetics_img3_wrap {
  margin-top: -90px;
  padding-left: 70px;
}
@media (max-width: 767px) {
  .bg_cover .aesthetics_img3_wrap {
    margin-top: 60px;
    padding-left: 24px;
  }
}
.bg_cover .aesthetics_img3 {
  width: 30%;
}
@media (max-width: 767px) {
  .bg_cover .aesthetics_img3 {
    width: 50%;
  }
}

.seasons {
  position: relative;
  height: 600vh;
  background: url(../img/common/bg_main.jpg);
  z-index: 1;
  overflow: visible;
}
@media (max-width: 767px) {
  .seasons {
    height: 250vh;
  }
}
.seasons .seasons_container {
  top: 0;
  height: 100vh;
  position: sticky;
}
@media (max-width: 1199px) {
  .seasons .seasons_container {
    height: auto;
  }
}
.seasons .text_wrap {
  opacity: 0;
  position: absolute;
  bottom: 15%;
  z-index: 1;
  left: 100px;
  width: calc(100vw - 200px);
  transition: 0.5s ease-in;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}
@media (max-width: 1199px) {
  .seasons .text_wrap {
    left: auto;
    padding: 27px 60px;
    width: auto;
    flex-wrap: wrap;
  }
}
@media (max-width: 767px) {
  .seasons .text_wrap {
    padding: 24px;
    left: 0;
    bottom: 8%;
  }
}
.seasons .seasons_text_wrap {
  width: 40%;
}
@media (max-width: 1199px) {
  .seasons .seasons_text_wrap {
    width: 100%;
  }
}
@media (max-width: 767px) {
  .seasons .seasons_text_wrap {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 0 25px;
  }
}
@media (max-width: 767px) {
  .seasons .seasons_text_wrap01 {
    padding: 25px;
  }
}
.seasons .text_wrap.active {
  opacity: 1;
}
.seasons .seasons_subtitle {
  font-size: 20px;
  letter-spacing: 0.3em;
}
.seasons .seasons_title {
  font-size: 30px;
  letter-spacing: 0.3em;
  line-height: 1.4285;
  margin-top: 10px;
}
@media (max-width: 767px) {
  .seasons .seasons_title {
    font-size: 22px;
    color: #333;
  }
}
.seasons .seasons_text {
  margin-top: 40px;
}
@media (max-width: 767px) {
  .seasons .seasons_text {
    margin-top: 20px;
    font-size: 14px;
    color: #333;
  }
}
.seasons .seasons_btn {
  text-decoration: none;
  border: 1px solid #fff;
  padding: 1rem 6rem;
  background: #000;
  transition: 0.5s ease;
}
.seasons .seasons_btn:hover {
  background: #fff;
  color: #000;
}
@media (max-width: 1199px) {
  .seasons .seasons_btn {
    margin-top: 30px;
  }
}
@media (max-width: 767px) {
  .seasons .seasons_btn {
    margin-top: 20px;
    padding: 0.5rem;
    width: 100%;
    text-align: center;
  }
}
.seasons .seasons_img_wrap {
  position: relative;
  height: 100%;
}
@media (max-width: 1199px) {
  .seasons .seasons_img_wrap {
    width: 100%;
    height: 100vh;
  }
}
.seasons .seasons_img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-perspective: 300px;
  perspective: 300px;
  -webkit-perspective-origin: center 120%;
  perspective-origin: center 120%;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
.seasons .seasons_img:nth-child(1) {
  background-position: 20% 100%;
}
.seasons .seasons_img:nth-child(2) {
  background-position: 46% 100%;
}
.seasons .seasons_img:nth-child(3) {
  background-position: 46% 83%;
}
.seasons .seasons_img:nth-child(4) {
  background-position: 46% 83%;
}
.seasons .seasons_img:nth-child(5) {
  background-position: 46% 57%;
}
.seasons .seasons_img:nth-child(6) {
  background-position: 43% 100%;
}
.seasons .img {
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-transform-origin: center 150%;
  transform-origin: center 150%;
  max-width: none;
  background-position: center;
}
@media (max-width: 1199px) {
  .seasons .img {
    -webkit-transform-origin: center 120%;
    transform-origin: center 120%;
  }
}

.scent {
  height: 100vh;
  background: url(../img/common/bg_main.jpg);
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
@media (max-width: 1199px) {
  .scent {
    height: auto;
    padding: 150px 0;
  }
}
.scent .scent_bg {
  background: url(../img/top/scent_bg.webp) bottom left/100% auto no-repeat;
  width: 100%;
}
.scent .scent_title {
  -ms-writing-mode: tb-rl;
  writing-mode: vertical-rl;
  margin: 0 auto;
  font-size: 32px;
  letter-spacing: 0.3em;
  white-space: pre;
}
@media (max-width: 767px) {
  .scent .scent_title {
    font-size: 20px;
  }
}
.scent .scent_text {
  margin-top: 40px;
  text-align: center;
}
@media (max-width: 767px) {
  .scent .scent_text {
    padding: 0;
  }
}

.experience {
  width: 100%;
  height: 500vh;
  position: relative;
  margin-top: -100vh;
  overflow: visible;
  opacity: 0;
}
@media (max-width: 1199px) {
  .experience {
    margin-top: -99vh;
  }
}
.experience .experience_container {
  height: 100vh;
  position: sticky;
  top: 0;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  overflow: hidden;
  backface-visibility: hidden;
}
.experience .movie_wrap {
  width: 100%;
  height: 100vh;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  margin: auto;
  cursor: pointer;
  z-index: 2;
  backface-visibility: hidden;
  width: auto;
  aspect-ratio: 16/9;
}
.experience .movie {
  width: 100%;
  height: 100%;
}
.experience .movie img {
  width: 100%;
  height: 100%;
}
.experience .arrow {
  width: 104px;
  height: 104px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}
.experience .experience_text_wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  z-index: 3;
  pointer-events: none;
}
.experience .experience_text_left {
  display: block;
  margin: 50px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 140px;
}
.experience .experience_text_left img {
  width: 100%;
}
@media (max-width: 767px) {
  .experience .experience_text_left {
    font-size: 60px;
  }
}
.experience .experience_text_right {
  display: block;
  margin: 50px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 140px;
}
.experience .experience_text_right img {
  width: 100%;
}
@media (max-width: 767px) {
  .experience .experience_text_right {
    font-size: 60px;
  }
}

.modelhouse_wrap1 {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  text-align: center;
}
@media (max-width: 1199px) {
  .modelhouse_wrap1 {
    bottom: 23px;
  }
}
@media (max-width: 767px) {
  .modelhouse_wrap1 {
    bottom: 40px;
    width: 70%;
  }
}
.modelhouse_wrap1 .title {
  font-size: 30px;
  margin-top: 20px;
}
@media (max-width: 767px) {
  .modelhouse_wrap1 .title {
    font-size: 20px;
  }
}
.modelhouse_wrap1 .text {
  margin-top: 10px;
}
.modelhouse_wrap1 .btn {
  margin-top: 40px;
  padding: 1rem 6rem;
  color: #fff;
  border: 1px solid #fff;
}
@media (max-width: 767px) {
  .modelhouse_wrap1 .btn {
    margin-top: 20px;
    padding: 0.5rem;
    width: 100%;
    text-align: center;
  }
}

.modelhouse_wrap {
  padding: 60px 0;
  margin: 100px 0;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 3;
}
.modelhouse_wrap .img {
  position: relative;
  cursor: pointer;
}
.modelhouse_wrap .img::after {
  content: "";
  position: absolute;
  background: url(../img/top/experience_arrow.webp) no-repeat center center/cover;
  width: 4.6rem;
  height: 4.6rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@media (max-width: 1199px) {
  .modelhouse_wrap {
    margin: 60px 0;
  }
}
.modelhouse_wrap .modelhouse_item {
  width: 50%;
  margin: 0 auto;
  text-align: center;
}
@media (max-width: 767px) {
  .modelhouse_wrap .modelhouse_item {
    width: 70%;
  }
}
.modelhouse_wrap .modelhouse_item video {
  width: 100%;
}
.modelhouse_wrap .img {
  position: relative;
  aspect-ratio: 600/450;
}
.modelhouse_wrap .img a {
  height: 100%;
  display: inline-block;
}
.modelhouse_wrap .img a video {
  height: 100%;
}
.modelhouse_wrap .img img {
  height: 100%;
}
.modelhouse_wrap .arrow {
  width: 45px;
  height: 45px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}
.modelhouse_wrap .title {
  font-size: 30px;
  margin-top: 20px;
}
@media (max-width: 767px) {
  .modelhouse_wrap .title {
    font-size: 20px;
  }
}
.modelhouse_wrap .text {
  margin-top: 10px;
}
.modelhouse_wrap .btn {
  margin-top: 40px;
  padding: 1rem 6rem;
  color: #fff;
  border: 1px solid #fff;
}
@media (max-width: 767px) {
  .modelhouse_wrap .btn {
    margin-top: 20px;
    padding: 0.5rem;
    width: 100%;
    text-align: center;
  }
}

@media (max-width: 1199px) {
  .modelhouse_wrap2 {
    margin-top: 0;
  }
}
@media (max-width: 767px) {
  .modelhouse_wrap2 {
    margin-bottom: 0;
  }
}

.modelhouse_wrap3 {
  margin-bottom: 150px;
}
@media (max-width: 767px) {
  .modelhouse_wrap3 {
    margin: 0 auto 60px;
    padding: 0;
  }
}

.enjoy {
  position: relative;
  min-height: 1100px;
  height: 100vh;
  overflow: visible;
  overflow: hidden;
}
@media (max-width: 991px) {
  .enjoy {
    height: auto;
  }
}
.enjoy .enjoy_container {
  padding: 80px 0;
  position: sticky;
  top: 0;
  left: 0;
  height: 100vh;
}
@media (max-width: 767px) {
  .enjoy .enjoy_container {
    overflow: hidden;
    height: 1355px;
  }
}
.enjoy .enjoy_wrap1,
.enjoy .enjoy_wrap2 {
  position: relative;
  z-index: 1;
}
.enjoy .enjoy_wrap1 {
  width: 250vw;
  white-space: nowrap;
}
@media (max-width: 767px) {
  .enjoy .enjoy_wrap1 {
    width: 500vw;
  }
}
.enjoy .enjoy_wrap2 {
  width: 200vw;
  white-space: nowrap;
}
@media (max-width: 767px) {
  .enjoy .enjoy_wrap2 {
    width: 400vw;
  }
}
.enjoy .enjoy_wrap3 {
  width: 220vw;
}
@media (max-width: 1199px) {
  .enjoy .enjoy_wrap3 {
    width: 400vw;
  }
}
@media (max-width: 767px) {
  .enjoy .enjoy_wrap3 {
    width: 600vw;
  }
}
.enjoy .enjoy_title {
  font-size: 40px;
  padding: 100px 0 0;
  text-align: center;
}
@media (max-width: 767px) {
  .enjoy .enjoy_title {
    font-size: 30px;
  }
}
.enjoy .enjoy_title .small {
  display: block;
  font-size: 16px;
}
.enjoy .enjoy_btn_wrap {
  position: absolute;
  bottom: 100px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}
.enjoy .enjoy_btn {
  text-decoration: none;
  border: 1px solid #fff;
  padding: 1rem 6rem;
}
.enjoy .enjoy_text_wrap {
  position: relative;
  width: 125vw;
}
@media (max-width: 767px) {
  .enjoy .enjoy_text_wrap {
    width: 250vw;
  }
}
.enjoy .enjoy_text_en_wrap {
  position: relative;
  width: 100vw;
}
@media (max-width: 767px) {
  .enjoy .enjoy_text_en_wrap {
    width: 200vw;
  }
}
.enjoy .enjoy_img_wrap {
  position: relative;
  width: 110vw;
}
@media (max-width: 1199px) {
  .enjoy .enjoy_img_wrap {
    width: 200vw;
  }
}
@media (max-width: 767px) {
  .enjoy .enjoy_img_wrap {
    width: 300vw;
  }
}
.enjoy .enjoy_text1 {
  position: absolute;
  -ms-writing-mode: tb-rl;
  writing-mode: vertical-rl;
  font-size: 44px;
  line-height: 1.25;
  letter-spacing: 0.2em;
  top: 350px;
  left: 2%;
  z-index: 1;
}
@media (max-width: 767px) {
  .enjoy .enjoy_text1 {
    top: 250px;
    font-size: 30px;
  }
}
.enjoy .enjoy_text2 {
  position: absolute;
  -ms-writing-mode: tb-rl;
  writing-mode: vertical-rl;
  font-size: 32px;
  top: 0;
  left: 20%;
  letter-spacing: 0.2em;
  line-height: 1.4285em;
  z-index: 1;
}
@media (max-width: 767px) {
  .enjoy .enjoy_text2 {
    font-size: 24px;
  }
}
.enjoy .enjoy_text3 {
  position: absolute;
  -ms-writing-mode: tb-rl;
  writing-mode: vertical-rl;
  font-size: 44px;
  top: 100px;
  left: 38%;
  letter-spacing: 0.2em;
  z-index: 1;
}
@media (max-width: 767px) {
  .enjoy .enjoy_text3 {
    font-size: 30px;
  }
}
.enjoy .enjoy_text4 {
  position: absolute;
  -ms-writing-mode: tb-rl;
  writing-mode: vertical-rl;
  font-size: 18px;
  top: 180px;
  left: 49%;
  letter-spacing: 0.2em;
  z-index: 1;
}
@media (max-width: 767px) {
  .enjoy .enjoy_text4 {
    font-size: 16px;
  }
}
.enjoy .enjoy_text5 {
  position: absolute;
  -ms-writing-mode: tb-rl;
  writing-mode: vertical-rl;
  font-size: 20px;
  line-height: 1.5384;
  top: 500px;
  right: 36%;
  z-index: 1;
}
@media (max-width: 767px) {
  .enjoy .enjoy_text5 {
    top: 400px;
    font-size: 15px;
  }
}
.enjoy .enjoy_text6 {
  position: absolute;
  -ms-writing-mode: tb-rl;
  writing-mode: vertical-rl;
  font-size: 22px;
  line-height: 1.3846;
  top: 110px;
  right: 30%;
  z-index: 1;
}
@media (max-width: 767px) {
  .enjoy .enjoy_text6 {
    font-size: 18px;
  }
}
.enjoy .enjoy_text7 {
  position: absolute;
  -ms-writing-mode: tb-rl;
  writing-mode: vertical-rl;
  font-size: 45px;
  letter-spacing: 0.2em;
  top: 10px;
  right: 11%;
  z-index: 1;
}
@media (max-width: 767px) {
  .enjoy .enjoy_text7 {
    font-size: 34px;
  }
}
.enjoy .enjoy_text8 {
  position: absolute;
  -ms-writing-mode: tb-rl;
  writing-mode: vertical-rl;
  font-size: 22px;
  letter-spacing: 0.2em;
  top: 430px;
  left: 30%;
  z-index: 1;
}
@media (max-width: 767px) {
  .enjoy .enjoy_text8 {
    top: 280px;
    font-size: 18px;
  }
}
.enjoy .enjoy_text9 {
  position: absolute;
  -ms-writing-mode: tb-rl;
  writing-mode: vertical-rl;
  font-size: 20px;
  letter-spacing: 0.2em;
  top: 60px;
  left: 10%;
  z-index: 1;
}
@media (max-width: 767px) {
  .enjoy .enjoy_text9 {
    font-size: 15px;
  }
}
.enjoy .enjoy_text10 {
  position: absolute;
  -ms-writing-mode: tb-rl;
  writing-mode: vertical-rl;
  font-size: 45px;
  letter-spacing: 0.2em;
  top: 550px;
  left: 46%;
  z-index: 1;
}
@media (max-width: 767px) {
  .enjoy .enjoy_text10 {
    top: 340px;
    font-size: 35px;
  }
}
.enjoy .enjoy_text11 {
  position: absolute;
  -ms-writing-mode: tb-rl;
  writing-mode: vertical-rl;
  font-size: 20px;
  letter-spacing: 0.2em;
  top: 0px;
  right: 2%;
  z-index: 1;
}
@media (max-width: 767px) {
  .enjoy .enjoy_text11 {
    font-size: 15px;
  }
}
.enjoy .enjoy_text12 {
  position: absolute;
  -ms-writing-mode: tb-rl;
  writing-mode: vertical-rl;
  font-size: 40px;
  letter-spacing: 0.2em;
  top: 10px;
  right: 35%;
  z-index: 1;
}
@media (max-width: 767px) {
  .enjoy .enjoy_text12 {
    font-size: 30px;
  }
}
.enjoy .enjoy_text13 {
  position: absolute;
  -ms-writing-mode: tb-rl;
  writing-mode: vertical-rl;
  font-size: 30px;
  letter-spacing: 0.2em;
  top: 500px;
  left: 16%;
  z-index: 1;
}
@media (max-width: 767px) {
  .enjoy .enjoy_text13 {
    top: 350px;
    font-size: 24px;
  }
}
.enjoy .enjoy_text14 {
  position: absolute;
  -ms-writing-mode: tb-rl;
  writing-mode: vertical-rl;
  font-size: 20px;
  letter-spacing: 0.2em;
  top: 400px;
  right: 6%;
  z-index: 1;
}
@media (max-width: 767px) {
  .enjoy .enjoy_text14 {
    top: 260px;
  }
}
.enjoy .enjoy_text15 {
  position: absolute;
  -ms-writing-mode: tb-rl;
  writing-mode: vertical-rl;
  font-size: 40px;
  letter-spacing: 0.2em;
  top: 350px;
  right: 24%;
  z-index: 1;
}
@media (max-width: 767px) {
  .enjoy .enjoy_text15 {
    top: 260px;
    font-size: 32px;
  }
}
.enjoy .enjoy_text_en1 {
  font-size: 12px;
  position: absolute;
  top: 460px;
  left: 13%;
  z-index: 1;
}
@media (max-width: 767px) {
  .enjoy .enjoy_text_en1 {
    top: 200px;
  }
}
.enjoy .enjoy_text_en2 {
  position: absolute;
  font-size: 13px;
  top: 550px;
  left: 41%;
  z-index: 1;
}
@media (max-width: 767px) {
  .enjoy .enjoy_text_en2 {
    top: 300px;
  }
}
.enjoy .enjoy_text_en3 {
  position: absolute;
  font-size: 13px;
  top: 0;
  right: 21%;
  z-index: 1;
}
.enjoy .enjoy_text_en4 {
  position: absolute;
  font-size: 13px;
  top: 500px;
  right: 5%;
  z-index: 1;
}
.enjoy .enjoy_img1 {
  position: absolute;
  top: 80px;
  left: 0;
}
@media (max-width: 767px) {
  .enjoy .enjoy_img1 {
    width: 25%;
  }
}
.enjoy .enjoy_img2 {
  position: absolute;
  top: 420px;
  left: 21%;
  width: 15%;
}
@media (max-width: 767px) {
  .enjoy .enjoy_img2 {
    width: 15%;
    top: 300px;
  }
}
.enjoy .enjoy_img3 {
  position: absolute;
  top: 0;
  left: 34%;
}
@media (max-width: 767px) {
  .enjoy .enjoy_img3 {
    width: 20%;
  }
}
.enjoy .enjoy_img4 {
  position: absolute;
  top: 260px;
  right: 33%;
}
@media (max-width: 767px) {
  .enjoy .enjoy_img4 {
    width: 23%;
  }
}
.enjoy .enjoy_img5 {
  position: absolute;
  top: 120px;
  right: 13%;
}
@media (max-width: 767px) {
  .enjoy .enjoy_img5 {
    width: 15%;
  }
}
.enjoy .enjoy_img6 {
  position: absolute;
  top: 430px;
  right: 0%;
}
@media (max-width: 767px) {
  .enjoy .enjoy_img6 {
    width: 20%;
    top: 300px;
  }
}

.combination {
  padding: 120px 0 0;
}
.combination .combination_wrap {
  justify-content: space-between;
  flex-direction: row-reverse;
}
@media (max-width: 991px) {
  .combination .combination_wrap {
    flex-wrap: wrap;
  }
}
.combination .combination_text_wrap {
  width: 525px;
  margin-left: calc(50% - 262.5px);
}
@media (max-width: 991px) {
  .combination .combination_text_wrap {
    width: 100%;
    margin-top: 60px;
    margin-left: 0;
  }
}
.combination .combination_title {
  -ms-writing-mode: tb-rl;
  writing-mode: vertical-rl;
  font-size: 34px;
  letter-spacing: 0.2em;
  margin: 0 auto;
}
@media (max-width: 767px) {
  .combination .combination_title {
    font-size: 24px;
    margin-left: 30px;
  }
}
.combination .combination_title small {
  font-size: 12px;
  display: inline-block;
  margin-top: 20px;
  letter-spacing: 0;
}
.combination .combination_text {
  margin-top: 200px;
}
.combination .combination_text strong {
  font-size: 20px;
  margin-bottom: 10px;
  display: inline-block;
}
.combination .combination_img {
  width: calc(50% - 262.5px);
}
@media (max-width: 991px) {
  .combination .combination_img {
    width: 50%;
  }
}
.combination .combination_img img {
  display: block;
  width: 100%;
}

.bend {
  padding: 230px 0 0;
}
.bend .bend_wrap {
  justify-content: space-between;
}
@media (max-width: 991px) {
  .bend .bend_wrap {
    flex-wrap: wrap;
  }
}
.bend .bend_text_wrap {
  width: 525px;
  margin-right: calc(50% - 262.5px);
}
@media (max-width: 991px) {
  .bend .bend_text_wrap {
    width: 100%;
    margin-top: 60px;
    margin-right: 0;
  }
}
.bend .bend_title {
  -ms-writing-mode: tb-rl;
  writing-mode: vertical-rl;
  font-size: 34px;
  letter-spacing: 0.2em;
  margin: 0 auto;
}
@media (max-width: 767px) {
  .bend .bend_title {
    font-size: 24px;
    margin-right: 30px;
  }
}
.bend .bend_title small {
  font-size: 12px;
  display: inline-block;
  margin-top: 20px;
  letter-spacing: 0;
}
.bend .bend_text {
  margin-top: 120px;
}
.bend .bend_text strong {
  font-size: 20px;
  margin-bottom: 10px;
  display: inline-block;
}
.bend .bend_img {
  width: calc(50% - 262.5px);
}
@media (max-width: 991px) {
  .bend .bend_img {
    width: 50%;
  }
}
.bend .bend_img img {
  display: block;
  width: 100%;
}

.line {
  padding: 230px 0 150px;
}
.line .line_wrap {
  justify-content: space-between;
  flex-direction: row-reverse;
}
@media (max-width: 991px) {
  .line .line_wrap {
    flex-wrap: wrap;
  }
}
.line .line_text_wrap {
  width: 525px;
  margin-left: calc(50% - 262.5px);
}
@media (max-width: 991px) {
  .line .line_text_wrap {
    width: 100%;
    margin-top: 60px;
    margin-left: 0;
  }
}
.line .line_title {
  -ms-writing-mode: tb-rl;
  writing-mode: vertical-rl;
  font-size: 34px;
  letter-spacing: 0.2em;
  margin: 0 auto;
}
@media (max-width: 767px) {
  .line .line_title {
    font-size: 24px;
    margin-left: 30px;
  }
}
.line .line_title small {
  font-size: 12px;
  display: inline-block;
  margin-top: 20px;
  letter-spacing: 0;
}
.line .line_text {
  margin-top: 140px;
}
.line .line_text strong {
  font-size: 20px;
  margin-bottom: 10px;
  display: inline-block;
}
.line .line_img {
  width: calc(50% - 262.5px);
}
@media (max-width: 991px) {
  .line .line_img {
    width: 50%;
  }
}
.line .line_img img {
  display: block;
  width: 100%;
}

.loop1 {
  -webkit-animation: loopAnime 30s linear infinite;
  animation: loopAnime 30s linear infinite;
}

@media (max-width: 767px) {
  .loop1 {
    -webkit-animation: loopAnime 15s linear infinite;
    animation: loopAnime 15s linear infinite;
  }
}
.loop2 {
  -webkit-animation: loopAnime 30s linear infinite;
  animation: loopAnime 30s linear infinite;
}

.loop3 {
  -webkit-animation: loopAnime 45s linear infinite;
  animation: loopAnime 45s linear infinite;
}

@-webkit-keyframes loopAnime {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  100% {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
}
@keyframes loopAnime {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  100% {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
}
.enjoy_text {
  opacity: 0;
}
@media (max-width: 767px) {
  .enjoy_text {
    opacity: 1;
  }
}

.blur-title {
  -webkit-animation-name: blurImageAnime;
  animation-name: blurImageAnime;
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  opacity: 0;
}
@media (max-width: 767px) {
  .blur-title {
    -webkit-animation-name: none;
    animation-name: none;
    opacity: 1;
  }
}

.blurImageTrigger {
  opacity: 0;
}

@-webkit-keyframes blurImageAnime {
  0% {
    -webkit-filter: blur(20px);
    filter: blur(20px);
    opacity: 0;
    perspective: 1000;
    -webkit-perspective: 1000;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
  }
  100% {
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1;
    perspective: 1000;
    -webkit-perspective: 1000;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
  }
}
@keyframes blurImageAnime {
  0% {
    -webkit-filter: blur(20px);
    filter: blur(20px);
    opacity: 0;
    perspective: 1000;
    -webkit-perspective: 1000;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
  }
  100% {
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1;
    perspective: 1000;
    -webkit-perspective: 1000;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
  }
}
.fadein {
  opacity: 0;
  transform: translate(0, 20px);
  transition: all 1.5s;
}
.fadein.active {
  opacity: 1 !important;
  transform: translate(0, 0) !important;
}

.modal {
  display: none;
  position: fixed;
  z-index: 9999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
}

.modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  height: 90%;
}

.close {
  color: #fff;
  position: absolute;
  top: 50px;
  right: 50px;
  font-size: 50px;
  font-weight: bold;
  cursor: pointer;
  z-index: 10000;
}
@media (max-width: 767px) {
  .close {
    right: 20px;
  }
}

#modalVideo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
  height: auto;
  z-index: 200000;
}
@media (max-width: 767px) {
  #modalVideo {
    width: 90%;
  }
}